<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="wow fadeInDown" data-wow-delay=".1s"><strong>KADA's</strong> </h1>
            <hr>
            <h1 class="wow fadeInDown" data-wow-delay=".3s"><strong>Air Mobility Solutions</strong> </h1>
            <!-- <h1>Design·Airworthiness Institute</h1> -->
            <!-- <h1>건국 항공우주설계·인증 교책연구원</h1> -->
            <hr>
            <hr>
            <hr>
            <!-- <h3>건국 항공우주설계·인증 교책연구원 KADA 방문을 환영합니다.</h3> -->
            <h3><strong>S</strong>imulation. <strong>A</strong>I Integration. <strong>F</strong>ast Validation. <strong>E</strong>xclusive IP</h3>
        </div>
    </div>
</header>
